.default-btn{
	width:90%;
	height:80upx;
	line-height: 80upx;
	border-radius: 8upx;
	color:#fff;
	font-size: 32upx;
	background-color:#2C81E7;
}
.small-btn{
	width:240upx;
	height:68upx;
	line-height: 68upx;
	border-radius: 8upx;
	color:#fff;
	font-size: 30upx;
	background-color:#2C81E7;
}